target/
.build/
.swiftpm/
*.xcuserstate
xcuserdata/
*.xcodeproj/

module.modulemap
HWCoreFFI.swift
libhwcore.h

build/
jniLibs/
android/lib/src/main/java/uniffi/hwcore/hwcore.kt
gradle-daemon-jvm.properties
